*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: sans-serif ; 
}


.btn1{

  background: white;
  color: rgb(5, 168, 5);
  cursor: pointer;
  transition: 0.2s;
  margin: 0;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 20px;
  border: 1px solid rgb(5, 168, 5);

  
}

.btn1:hover{
  background: rgb(0, 22, 44);
  color: rgb(5, 168, 5);
  border: 1px solid rgb(0, 22, 44);

}


.btn4{

  color: #fff;
  cursor: pointer;
  transition: 0.2s;
  margin: 0;
  padding: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 20px;
  text-decoration: none;
  background:#eb6657;

  
}

.btn4:hover{
  background:#ecb5b0;
  color:#e74c3c;

}



.btn5{

  background:#3587b9;
  color: #fff;
  transition: 0.2s;
  margin: 0;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 20px;

  
}

.btn5:hover{
  background:#D4E6F1;
  color: #3587b9;
  border: 1px solid #D4E6F1;

}
::placeholder{
  font-weight: bold;
}