
#nav-dropdow{color: #92ce67; }
#nav-dropdow:hover{color: rgb(5, 168, 5); }

.class{
color: #8ecc61;
margin: 10px; 
font-weight: bold;
font-size: 15px;

}

.class:hover {
color: rgb(5, 168, 5);

}

#responsive-navbar-nav{
margin-top: 8px;
}
  

.navi{
  border-radius: 10px;
  margin: 20px;
  height: 80px;
  opacity: 0.8;
}